################################################################################
# Diese .gitignore-Datei wurde von Microsoft(R) Visual Studio automatisch erstellt.
################################################################################

/.vs
/INIMASU_GUI/Python 3_9
/INIMASU_GUI/Python 3_9 64 Bit
