################################################################################
# Diese .gitignore-Datei wurde von Microsoft(R) Visual Studio automatisch erstellt.
################################################################################

/.vs
/INIMASU_GUI/Python 3_9
/INIMASU_GUI/Python 3_9 64 Bit
/array_repository_uris.json
/vaadin_flow.json
/access_token.json
